.services-container{
    padding: 110px 0;
    background-color: #f6f6f6;
    .services-content{
        width:100%;
        max-width: 1780px;
    }
        h2{
            font-family:'Montserrat', sans-serif;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            color:#000;
        }
}