.services-container{
    padding: 110px 30px;
    background-color: #f6f6f6;
    .services-content{
        display: flex;
        justify-content: space-around;
        padding: 50px 0 0;
       
    }
        h2{
            font-family:'Montserrat', sans-serif;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            color:#000;
        }
}