@import "../../style.scss";
.work-container{
    padding:110px 0;
    background: #171f34;
    @media (max-width:$sm) {
        padding: 60px 0;
    }

   h3{
    font-size: 17px;
    text-align: center;
    color:rgb(155, 150, 150);
    font-weight: 300;
    margin:10px 0;
   }
   .work-content{
    display: flex;
    justify-content: center;
    padding: 35px 0 0;
    margin:0 auto;
    @media (max-width:$md) {
        flex-direction: column;
        padding: 20px 0 0;
        
    }
    .column{
        display: flex;
        flex-direction: column;
        margin: 15px;
        @media (max-width:$md) {
           justify-content: center;  
           align-items: center; 
           margin: 25px 0px;
        }
        .imagecard{
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            background: #fff;
            cursor: pointer;
        }
        .imagecard-txt{
            display: flex;
            flex-direction: column;
            @media (max-width:$md) {
                max-width: 300px;
            }
            @media (max-width:$xs) {
                max-width: 240px;
            }
        }
        h4{
            font-family: 'Roboto Mono', monospace;
            color:#6dcabf;
            margin: 15px 0 0;
            font-weight:bold;
            font-size: 17px;
            @media (max-width:$xs) {
                font-size: 16px;
            }
        }
        p{
            font-family: 'Roboto Mono', monospace;
            color:rgb(155, 150, 150);
            margin:10px 0 0;
            padding: 0;
            font-size: 15px;
            line-height: 22px;
            max-width: 300px;
            @media (max-width:$xs) {
                font-size: 13px;
                line-height: 18px;
            }
        }
    }
   }
   .work-img-container{
    width: 100%;
    .work-img{
        max-width: 335px;
        @media (max-width:$lg) {
            max-width: 230px; 
        }
        @media (max-width:$md) {
            max-width: 300px;
        }
        @media (max-width:$xs) {
            max-width: 240px;
        }
    }
   }
}