@import "../../style.scss";
.work-container{
    padding:110px 0;
    background: #171f34;
    @media (max-width:$sm) {
        padding: 60px 0;
    }

   h3{
    font-size: 17px;
    text-align: center;
    color:rgb(155, 150, 150);
    font-weight: 300;
    margin:10px 0;
   }
   .work-content{
    display: flex;
    justify-content: center;
    padding: 35px 0 0;
    margin:0 auto;
    @media (max-width:$sm) {
        flex-direction: column;
        padding: 5px 0 0;
        
    }
    .column{
        display: flex;
        margin: 15px;
        @media (max-width:$sm) {
           justify-content: center;
           background:  rgb(109 202 191 / 10%);
           border-radius: 20px;
            
        }
        .imagecard{
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 20px;
            background: rgb(109 202 191 / 10%); 
            cursor: pointer;
            @media (max-width:$sm) {
               background: transparent;
             }
        }
    }
   }
   .work-img-container{
    width: 100%;
    .work-img{
        max-width: 335px;
        @media (max-width:$lg) {
            max-width: 230px; 
        }
        @media (max-width:$md) {
            max-width: 200px;
        }
    }
   }
}