body{
    overflow-x: hidden;
    padding:0;
    margin:0;
}
$vvxs:500px;
$vxs:650px;
$xs:750px;
$sm:950px;
$md:1200px;
$lg:1500px;
$xlg:1800px;

.container{
    width:100%;
    padding:0 15px;
    margin:0 auto;
    max-width: 1800px;
    @media (max-width:$xlg) {
        max-width: 1650px;
    }
    @media (max-width:$lg) {
        max-width: 1350px;
    }
    @media (max-width:$md) {
        max-width: 950px;
    }
    @media (max-width:$sm) {
        max-width: 800px;
    }
    @media (max-width:$xs) {
        max-width: 600px;
    }
    @media (max-width:$vxs) {
        max-width: 450px;
    }
    @media (max-width:$vvxs) {
        max-width: 350px;
    }

    
}
h2{
    color:#6dcabf;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}